
# Data
/data/

# runner scripts
/runner_scripts/

# Models
/models/

# Reports
/reports/

## https://github.com/github/gitignore/blob/4488915eec0b3a45b5c63ead28f286819c0917de/Python.gitignore

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class



# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

*desktop.ini
jet_ml/classifiers/alpha_s/alpha_s_vgg16_net.py
jet_ml/classifiers/alpha_s/*.output
