.ipynb_checkpoints/desktop.ini
jet-ml-dataset-builder-by-size/desktop.ini
jet-ml-dataset-builder-by-size-output/desktop.ini
jet-ml-diffusion-model/desktop.ini
jet-ml-models/desktop.ini
jet-ml-models-outputs/desktop.ini
jet-ml-models-results/desktop.ini
jet-ml-models-results/1-fold-1-10-100-1000k/desktop.ini
jet-ml-models-results/5-fold-1-10-100-1000k/desktop.ini
jet-ml-models-results/5-fold-1k/desktop.ini
jet-ml-pointnet/desktop.ini
jet-ml-pointnet-classifier-output/desktop.ini
jet-ml-pointnet-output/desktop.ini
jet-ml-pointnet-results/desktop.ini
jet-ml-pretrained-mnist/desktop.ini
jet-ml-pretrained-mnist-output/desktop.ini
jet-ml-synthesis-model/desktop.ini
jet-ml-validation-calculator/desktop.ini
jet-ml-validation-calculator-output/desktop.ini
jet-ml-vgg16-model-cnn/desktop.ini
jet-ml-vgg16-model-cnn-output/desktop.ini
jet-ml-vgg16-model-cnn-output-failure/desktop.ini
jet_ml_dataset_builder/desktop.ini
jet_ml_dataset_builder/__pycache__/desktop.ini
jet_ml_dataset_builder/jet-ml-dataset-builder-step-1/desktop.ini
jet_ml_dataset_builder/step-1-event generator-output/desktop.ini
jet_ml_dataset_builder/step-1-event generator-output/config-01-output/desktop.ini
jet_ml_dataset_builder/step-1-event generator-output/config-02-output/desktop.ini
jet_ml_dataset_builder/step-1-event generator-output/config-03-output/desktop.ini
jet_ml_dataset_builder/step-1-event generator-output/config-04-output/desktop.ini
jet_ml_dataset_builder/step-1-event generator-output/config-06-output/desktop.ini
jet_ml_dataset_builder/step-1-event generator-output/config-07-output/desktop.ini
jet_ml_dataset_builder/step-1-event generator-output/config-08-output/desktop.ini
jet_ml_dataset_builder/step-1-event generator-output/config-09-output/desktop.ini
jet_ml_dataset_builder/step-2-single-event-merger-output/desktop.ini
jet_ml_dataset_builder/step-3-single-file-event-splitter-output/desktop.ini
jet_ml_dataset_builder/step-4-single-file-event-to-image-convertor-output/desktop.ini
jet_ml_dataset_builder/step-5-single-image-file-merger-output/desktop.ini
jet_ml_dataset_builder/step-6-concatenate-shuffler-output/desktop.ini
jet_ml_dataset_builder/step-7-column-adder-output/desktop.ini
jet_ml_dataset_builder/step-8-dataset-concat-shuffle-output/desktop.ini
jet_ml_dataset_builder/step-8-dataset-concat-shuffle-output/first-attempts/desktop.ini
jet_ml_dataset_builder/step-8-dataset-concat-shuffle-output/second-attempt/desktop.ini
jet_ml_dataset_builder/step-9-dataset-all-config-concat-shuffle-output/desktop.ini
