.ipynb_checkpoints/desktop.ini
jet-ml-dataset-builder-by-size/desktop.ini
jet-ml-dataset-builder-by-size-output/desktop.ini
jet-ml-diffusion-model/desktop.ini
jet-ml-models/desktop.ini
jet-ml-models-outputs/desktop.ini
jet-ml-models-results/desktop.ini
jet-ml-models-results/1-fold-1-10-100-1000k/desktop.ini
jet-ml-models-results/5-fold-1-10-100-1000k/desktop.ini
jet-ml-models-results/5-fold-1k/desktop.ini
jet-ml-pointnet/desktop.ini
jet-ml-pointnet-classifier-output/desktop.ini
jet-ml-pointnet-output/desktop.ini
jet-ml-pointnet-results/desktop.ini
jet-ml-pretrained-mnist/desktop.ini
jet-ml-pretrained-mnist-output/desktop.ini
jet-ml-synthesis-model/desktop.ini
jet-ml-validation-calculator/desktop.ini
jet-ml-validation-calculator-output/desktop.ini
jet-ml-vgg16-model-cnn/desktop.ini
jet-ml-vgg16-model-cnn-output/desktop.ini
jet-ml-vgg16-model-cnn-output-failure/desktop.ini
jet_ml_dataset_builder/desktop.ini
jet_ml_dataset_builder/__pycache__/desktop.ini
jet_ml_dataset_builder/jet-ml-dataset-builder-step-1/desktop.ini
jet_ml_dataset_builder/step-1-event generator-output/desktop.ini
jet_ml_dataset_builder/step-1-event generator-output/config-01-output/desktop.ini
jet_ml_dataset_builder/step-1-event generator-output/config-02-output/desktop.ini
jet_ml_dataset_builder/step-1-event generator-output/config-03-output/desktop.ini
jet_ml_dataset_builder/step-1-event generator-output/config-04-output/desktop.ini
jet_ml_dataset_builder/step-1-event generator-output/config-06-output/desktop.ini
jet_ml_dataset_builder/step-1-event generator-output/config-07-output/desktop.ini
jet_ml_dataset_builder/step-1-event generator-output/config-08-output/desktop.ini
jet_ml_dataset_builder/step-1-event generator-output/config-09-output/desktop.ini
jet_ml_dataset_builder/step-2-single-event-merger-output/desktop.ini
jet_ml_dataset_builder/step-3-single-file-event-splitter-output/desktop.ini
jet_ml_dataset_builder/step-4-single-file-event-to-image-convertor-output/desktop.ini
jet_ml_dataset_builder/step-5-single-image-file-merger-output/desktop.ini
jet_ml_dataset_builder/step-6-concatenate-shuffler-output/desktop.ini
jet_ml_dataset_builder/step-7-column-adder-output/desktop.ini
jet_ml_dataset_builder/step-8-dataset-concat-shuffle-output/desktop.ini
jet_ml_dataset_builder/step-8-dataset-concat-shuffle-output/first-attempts/desktop.ini
jet_ml_dataset_builder/step-8-dataset-concat-shuffle-output/second-attempt/desktop.ini
jet_ml_dataset_builder/step-9-dataset-all-config-concat-shuffle-output/desktop.ini
desktop.ini
__pycache__/desktop.ini
jet-ml-pretrained-mnist-output-failure/desktop.ini
jet-ml-synthesis-model-vgg16/desktop.ini
jet-ml-synthesis-model-vgg16-output/desktop.ini
jet-ml-synthesis-model-vgg16-output-failure/desktop.ini
jet_ml_dataset_builder/jet-ml-dataset-builder-step-1/config-lbt/desktop.ini
jet_ml_dataset_builder/jet-ml-dataset-builder-step-1/config-matter/desktop.ini
jet_ml_dataset_builder/step_1_event_generator_output/config-04-output/desktop.ini
jet_ml_dataset_builder/step_1_event_generator_output/config-06-output/desktop.ini
jet_ml_dataset_builder/step_1_event_generator_output/config-07-output/desktop.ini
jet_ml_dataset_builder/step_1_event_generator_output/config-08-output/desktop.ini
jet_ml_dataset_builder/step_1_event_generator_output/config-09-output/desktop.ini
jet_ml_dataset_builder/step_2_single_event_merger_output/desktop.ini
jet_ml_dataset_builder/step_3_single_file_event_splitter_output/desktop.ini
jet_ml_dataset_builder/step_4_single_file_event_to_image_convertor_output/desktop.ini
jet_ml_dataset_builder/step_5_single_image_file_merger_output/desktop.ini
jet_ml_dataset_builder/step_6_concatenate_shuffler_output/desktop.ini
jet_ml_dataset_builder/step_7_column_adder_output/desktop.ini
jet_ml_dataset_builder/step_8_dataset_concat_shuffle_output/desktop.ini
jet_ml_dataset_builder/step_8_dataset_concat_shuffle_output/first-attempts/desktop.ini
jet_ml_dataset_builder/step_8_dataset_concat_shuffle_output/second-attempt/desktop.ini
jet_ml_dataset_builder/step_9_dataset_all_config_concat_shuffle_output/desktop.ini
jet_ml_dataset_builder_by_size/desktop.ini
jet_ml_dataset_builder_by_size_output/desktop.ini
jet_ml_diffusion_model/desktop.ini
jet_ml_mnist_net/desktop.ini
jet_ml_mnist_net_output/desktop.ini
jet_ml_models/desktop.ini
jet_ml_models/__pycache__/desktop.ini
jet_ml_models_notebooks/desktop.ini
jet_ml_models_outputs/desktop.ini
jet_ml_pointnet/desktop.ini
jet_ml_pointnet_alpha_s/desktop.ini
jet_ml_pointnet_classifier_output/desktop.ini
jet_ml_pointnet_eloss/desktop.ini
jet_ml_pointnet_output/desktop.ini
jet_ml_pointnet_results/desktop.ini
jet_ml_pretrained_mnist_output_failure/desktop.ini
jet_ml_revised/desktop.ini
jet_ml_revised/dataset_builder/desktop.ini
jet_ml_revised/model_runners/desktop.ini
jet_ml_revised/models/desktop.ini
jet_ml_sample_events/desktop.ini
jet_ml_synthesis_model/desktop.ini
jet_ml_synthesis_model/__pycache__/desktop.ini
jet_ml_synthesis_model_vgg16/desktop.ini
jet_ml_synthesis_model_vgg16_output/desktop.ini
jet_ml_synthesis_model_vgg16_output_failure/desktop.ini
jet_ml_validation_calculator/desktop.ini
jet_ml_validation_calculator_output/desktop.ini
jet_ml_vgg16_model_cnn/desktop.ini
jet_ml_vgg16_model_cnn_output/desktop.ini
jet_ml_vgg16_model_cnn_output_failure/desktop.ini
